:root {
  --primary-color: #f9ce00;
  --secondary-color: #4b4142;
  --tertiary-color: #605456;
  --light-accent: #e5ddd2;
  --brown-accent: #c4a876;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--light-accent);
  font-family: "Staatliches", sans-serif;
}

/* HEADER / NAV BAR STYLES START */

header {
  padding: 50px 50px;
  background-color: #f9ce00;
  display: flex;
  background-image: url("../images/hero.jpg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

header a {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--secondary-color);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

header h2 {
  color: var(--secondary-color);
  text-shadow: 2px 2px var(--brown-accent);
  line-height: 80%;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-btn {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px 20px 5px;
  box-shadow: 2px 2px white;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

/* HEADER / NAVBAR STYLES END */

/* DESCRIPTION SECTION */
h3 {
  color: var(--tertiary-color);
}

p {
  color: var(--tertiary-color);
}
/* DESCRIPTION SECTION STYLES END */

/* POST STYLE START */

.post-card {
  background: var(--primary-color);
  box-shadow: 10px 10px var(--brown-accent);
}

.post-header {
  background: var(--primary-color);
  text-shadow: 2px 2px var(--brown-accent);
}

.post-btn {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px 20px 5px;
  box-shadow: 2px 2px white;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

/* POST STYLE END */

/* FOOTER STYLES START */
footer {
  background: var(--primary-color);
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

footer h2 {
  color: var(--secondary-color);
  font-size: 30px;
  margin: 0;
}

footer div {
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: var(--secondary-color);
}
/* END FOOTER STYLES */
